@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
  --primary: #fed9b7;
  --red: #ff0016;
  --grey: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  padding: 0 4rem;
}

a {
  color: #000;
  text-decoration: none;
}

.logo {
  color: #000;
  font-size: 2rem;
}

/* BUTTONS */
.btn {
  cursor: pointer;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  border: 2px solid #222;
  background-color: #fff;
  transition: all ease 0.3s;
}

.btn:focus {
  outline: none;
}

.btn-submit:hover,
.btn-back:hover {
  color: #fff;
  background-color: #222;
}

.btn-back {
  display: inline;
}

.btn-delete {
  color: var(--red);
  border: 2px solid var(--red);
  margin-right: 1rem;
}

.btn-delete:hover {
  background-color: var(--red);
  color: #fff;
}

/* NAVBAR */

.nav-container {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

.nav-item {
  color: #000;
  font-size: 1.1rem;
  border-bottom: 2px transparent solid;
  transition: border-color 0.5s;
  margin-right: 1rem;
}
.nav-item:last-child {
  margin-right: 0;
}

.nav-item:hover {
  border-color: #000;
}

/* FORMS */
.auth-container {
  display: flex;
  justify-content: center;
}

.form-container {
  padding: 3rem 6rem;
}

.form-title {
  margin-bottom: 1rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 300px;
}

.form-item input {
  background-color: var(--grey);
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.form-item input:focus {
  outline: none;
}

.form-item textarea {
  font-family: 'Source Sans Pro';
  font-size: 0.9rem;
  background-color: var(--grey);
  border: none;
  padding: 6px 10px;
  height: 60px;
  resize: none;
}

/* ALL ENTRIES - HOME SCREEN */

.entry-container {
  background-color: var(--grey);
  border-radius: 5px;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  width: 500px;
}

.entry-row {
  display: flex;
  justify-content: space-between;
}

.entry-list-title {
  margin: 1rem 0;
}

.entry-link {
  border-bottom: 2px transparent solid;
  transition: border-color 0.5s;
}

.entry-link:hover {
  border-color: #000;
}

/* ENTRY SCREEN */
.entry-screen-container {
  margin: 2rem 0;
  width: 500px;
}

.entry-screen-container p,
h3 {
  margin-bottom: 1rem;
}

.entry-buttons {
  padding-top: 1rem;
}
