@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

a {
  color: #000;
  text-decoration: none;
}

.logo {
  color: #000;
  font-size: 2rem;
}

/* BUTTONS */
.btn {
  cursor: pointer;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  border: 2px solid #222;
  background-color: #fff;
  transition: all ease 0.3s;
}

.btn:focus {
  outline: none;
}

.btn-submit:hover {
  color: #fff;
  background-color: #222;
}

/* NAVBAR */

.nav-container {
  background-color: #fed9b7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

.nav-item {
  color: #000;
  font-size: 1.1rem;
  border-bottom: 2px transparent solid;
  transition: border-color 0.5s;
}
.nav-item:last-child {
  margin-left: 1rem;
}

.nav-item:hover {
  border-color: #000;
}

/* FORMS */
.auth-container {
  display: flex;
  justify-content: center;
}

.form-container {
  padding: 6rem 6rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 300px;
}

.form-item input {
  background-color: #f1f1f1;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.form-item input:focus {
  outline: none;
}
