@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  margin-top: 2rem;
}

a {
  color: #000;
  text-decoration: none;
}

.logo {
  font-size: 2rem;
}

/* BUTTONS */
.btn {
  cursor: pointer;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  border: 2px solid #444;
  background-color: #fff;
  transition: all ease 0.3s;
}

.btn-nav {
  font-size: 0.9rem;
}

.btn-nav:last-child {
  margin-left: 1rem;
}

.btn-login:hover,
.btn-submit:hover {
  color: #fff;
  background-color: #444;
}
.btn-register {
  color: #fff;
  background-color: #444;
}
.btn-register:hover {
  color: #fff;
  background-color: #555;
}

/* FORMS */
.auth-container {
  display: flex;
  justify-content: center;
}

.form-container {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 6rem 6rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
